@model IEnumerable<Plaboo.Models.councilRate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

<head>
    <style>
        .navbar {
            background-color: white !important;
        }

       
    </style>
</head>

<div class="row" style="margin:40px;">
    <table class="table table-striped table-bordered" data-order='[[0, "asc"]]' >
        <thead>
            <tr>
                <th>
                    Rank
                    @*@Html.DisplayNameFor(model => model.council)*@
                </th>
                <th>
                    Council
                    @*@Html.DisplayNameFor(model => model.rate)*@
                </th>
                <th>
                    Rate
                    @*@Html.DisplayNameFor(model => model.rank)*@
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.council)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rate)
                </td>


            </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@section Scripts {

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({   "stripeClasses": [ 'odd-row', 'even-row' ]});
         
        });
        
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />