@{
    var Rank = ViewBag.Rank;
}

    <head>
        
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://d3js.org/d3.v4.min.js"></script>*@

        <style>

            .stats {
                height: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                background-color: azure;
            }

            text {
                font-family: "Verdana", sans-serif;
            }

            #chart {
                max-width: 600px;
            }

            #top3:hover {
                box-shadow: 10px 10px 5px #000000;
                -moz-box-shadow: 0px 10px 5px #000000;
                -webkit-box-shadow: 0px 10px 5px #000000;
            }
        </style>
    </head>

<body>
 
    <div class="stats" style="height:400px;margin-top:50px;margin-bottom:50px;">
        <div class="hero-text" style="text-align:center;transform: translate(-50%, -20%); position:absolute;left:50%;top:20%;">

            <h1><b>@ViewBag.Council <br /> Recycling Rate</b> </h1>
            <div id="chart" style="margin-top:30px;"></div>
            <h1 style="margin-top:-40px;margin-bottom:10px;"><b>#@Rank in 79 Councils</b></h1>
            <script src="~/Scripts/gauge.js"></script>

            <script>
                function randNumberBounds() {
                    var Rate1 = '@ViewBag.Rate';
                    
                    return parseInt(Rate1);
                }

                (function () {
                    var gauge = gaugeChart()
                        .width(260)
                        .height(250)
                        .innerRadius(50)
                        .outerRadius(80);

                    d3.select("#chart").datum([randNumberBounds()]).call(gauge);

                    function resize() {
                        var gWidth = Math.min(d3.select("#chart").node().offsetWidth, 400);
                        gauge.width(gWidth).innerRadius(gWidth / 4).outerRadius((gWidth / 4) + 40);
                        d3.select("#chart").call(gauge);
                    }

                    resize();
                    window.addEventListener("resize", resize);

                   
                })()
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-top:10px;">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <img style="height:230px;width:350px;" id="top3" src="~/Content/Images/top3councils.PNG" />
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:left;">
                    <button id="allCouncils" style="margin-left:13px;" type="button" class="btn btn-success"
                            onclick="location.href='@Url.Action("Index", "councilRates")'">View Full Result</button>
                </div>
                
            </div>
        </div>
    </div>
</body>

