@model IEnumerable<Plaboo.Models.allCouncilPostcode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://d3js.org/d3.v4.min.js"></script>


<head>
    <style>
        .navbar {
            background-color: white !important;
        }

        .hero-image {
            background-image: url('../../Content/Images/citycouncil.jpeg');
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 100%;
            
        }

         .modal.fade .modal-dialog {
            opacity: 0;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s;
            transform: scale(0) rotate(500deg);
        }

        .modal.fade.in .modal-dialog {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }

        .modal-backdrop {
            background-color: gray;
        }

        .modal-header {
            background-color: azure;
            color: white;
        }

        .modal-body {
            background-color: azure;
            color: white;
        }

        .modal-footer {
            background-color: azure;
            color: white;
        }

        .mcontent {
            color: black;
            font-family: 'Comic Sans MS';
        }

              @@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  
  and (-webkit-min-device-pixel-ratio: 2) {

}
    </style>
</head>

<body>

    <div class="hero-image responsive" style="height: 460px">
        <div class="hero-text" style="text-align:center;transform: translate(-50%, -50%); position:absolute;left:50%;top:50%;">

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input style="width:220px;margin-right:20px;height:40px;" class="form-control" id="postcode" aria-describedby="emailHelp" placeholder="Enter postcode">
                    </div>
                    <div class="col-md-6" style="margin-top:2px;">

                        @*<button id="search" type="submit" style="height:50px;" class="btn btn-primary">Search</button>*@
                        <a id="search" class="btn btn-primary"><i class="fa fa-cog fa-spin"></i>
                             Search
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="resizemodal" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mcontent" id="popupcontent">Please enter a postcode in Melbourne!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="trial" style="text-align:left;margin-top:30px;">
        <div class="col-md-12">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <h2 style="font-family:Calibri;background-color:azure;text-align:center">
                    Search for your postcode and know the recyling rate of your area based on the council you belong to. Also,
                    learn how you can contribute to improve the recycling rate.
                </h2>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        
    </div>
    <div id="searchResults"></div>



</body>

<script>
    $(document).ready(function () {
       var url = '@Url.Action("RatePartial", "councilRates")';
         function alignModal() {
           var modalDialog = $("#resizemodal");
            /* Applying the top margin on modal dialog to align it vertically center */
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 3.5));

           
        }

       $("#search").click(function () {
           
          
           var model = @Html.Raw(Json.Encode(Model));
           var council = "";
           
           for (var item in model)
           {
              
               if (model[item].postcode == $("#postcode").val())
               {
                  
                   council = model[item].council;
                   break;
               }
           }
            //$(model).each(function (index) {
            //   if ($(this)[0].postcode == $("#postcode").val())
            //   {
            //       council = $(this)[0].council;
            //    }
           //});
           
            if (council == "")
            {
                 alignModal();
                 $("#exampleModalCenter").modal('show');
            }
            else { /*$('html, body').animate({scrollTop:$(window).height()/1.5}, 'slow');*/ $("#trial").hide();$('#searchResults').load(url, { searchText: council }); }
            
         });




    });
</script>






