

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="~/Scripts/Style.css" rel="stylesheet" />

    <style>
        .adolescents {
            margin-top: 40px;
            
            font-family: 'Courier New';
            font-size: 25px;
        }

        .adolescents1 {
            font-family: 'Courier New';
            font-size: 15px;
            border:1px;
        }

         .navbar {
       background-color: black !important;
    }

    .navbar-toggle{
        background-color: lightyellow;
    }

 

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}

.trial {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}

 .imgsize {
            height: 200px;
            width: 200px;
            padding:5px;
        }

        .cardrow {
            margin-top: 20px;
            padding: 30px;
        }

        .inner {
            overflow: hidden;
        }
 
    </style>

</head>

<body>


    <!--<video width="320" height="240" autoplay muted loop style="margin-top:50px;">
        <source src="~/Content/Images/Ocean4.mp4" type="video/mp4" />
    </video>-->

   <div class="alignfull">
        <img class="img-fluid" src="~/Content/Images/parentsplastic.jpg" alt="Missing image.">
    </div>

   <div class="row">
       <div class="trial">
           <div class="col-md-8">
               <img style="margin-top:20px; margin-left:40px;" class="img-fluid" src="~/Content/Images/parentsplastic.jpg" alt="Super Wide Highway Picture.">
           </div>
           <div class="col-md-4">
               <p>Hey!</p>
           </div>
       </div>
   </div>

   
   <div class="cardrow">
       <div class="col-md-12">
           <div class="col-md-6" style="padding:15px;">
               <div class="card" style="width: 15rem;">
                   <div class="inner">
                       <img src="~/Content/Images/Quiz.jpg" class="card-img-top imgsize" alt="Missing img">
                   </div>
                   <div class="card-body">
                       <h4 class="card-title text-center">The Challenge</h4>
                       <p>The adolescents of Australia are concerned about the plastic pollution issue but are
                       unsure how to deal with it since there aren't enough platforms to guide them in the
                       right direction.</p>
                       
                   </div>
               </div>
           </div>
           <div class="col-md-6" style="padding:15px;">
               <div class="card" style="width:15rem;">
                   <div class="inner">
                       <img src="~/Content/Images/Quiz.jpg" class="card-img-top imgsize" alt="Missing img">
                   </div>
                   <div class="card-body">
                       <h4 class="card-title text-center">The Solution</h4>
                       
                   </div>
               </div>
           </div>
         
       </div>
   </div>










</body>
</html>


