@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="~/Scripts/Style.css" rel="stylesheet" />
   
    <style>
    </style>

</head>

<body>
    <div id="videodiv">
        <video loop muted autoplay poster="">
            <source src="~/Images/Ocean.mp4" type="video/mp4" />
        </video>
        <div class="content d-flex align-items-center">
            <div class="container text-center">
                <h1>Welcome to my website</h1>
                <h3>This is the background</h3>
            </div>
        </div>
    </div>


    <script src="~/Scripts/Objectfitvideos.js"></script>
    <script>
        objectFitVideos();
    </script>
</body>
</html>