@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="~/Scripts/Style.css" rel="stylesheet" />
   
    <style>
    </style>

</head>

<body>
    <!--
    <div class="row">
        <div id="videodiv">
            <video loop muted autoplay poster="">
                <source src="~/Images/Ocean4.mp4" type="video/mp4" />
            </video>
            <div class="content d-flex align-items-center">
                <div class="container text-center">
                    <h3>
                        On an average, 130,000 tons of plastic is decomposed into the ocean
                        in Australia per year. Are you ready to make the change?
                    </h3>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 second">
            <p>Hey there</p>
        </div>
    </div>



    <script src="~/Scripts/Objectfitvideos.js"></script>
    <script>
        objectFitVideos();
    </script>
        -->
  
    <div class="banner">
        <video autoplay muted loop>
            <source src="~/Images/Ocean4.mp4" type="video/mp4" />
        </video>
        <div class="content">
            <h1>Fullscreen Video Banner</h1>
            <p>
                On an average, 130,000 tons of plastic is decomposed into the ocean
                in Australia per year. Are you ready to make the change?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Hey there</p>
        </div>
    </div>


</body>
</html>