


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*below are the scripts needed in this view, which includes the bootstrap as well as fontawesome icons*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>




    <style>

        /*to change the top navigation bar colour*/
        .navbar {
            background-color: white !important;
        }

        #firstquiz {
            text-align: center;
            margin-top: 90px;
        }
    </style>
</head>

<body>
    <canvas id="MeSeStatusCanvas"></canvas>

    <div id="firstquiz">
        <iframe id="interactApp5f6aa1f59b9c5e001486f3ad" width="800" height="750" style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0" src="https://quiz.tryinteract.com/#/5f6aa1f59b9c5e001486f3ad?method=iframe"></iframe>
    </div>

    <script>
        var MeSeContext = document.getElementById("MeSeStatusCanvas").getContext("2d");
var MeSeData = {
    labels: [
        "ME",
        "SE"
    ],
    datasets: [{
        label: "Test",
        data: [100, 75],
        backgroundColor: ["#669911", "#119966"],
        hoverBackgroundColor: ["#66A2EB", "#FCCE56"]
    }]
};

var MeSeChart = new Chart(MeSeContext, {
    type: 'horizontalBar',
    data: MeSeData,
    options: {
        scales: {
            xAxes: [{
                ticks: {
            		min: 60
                }
            }],
            yAxes: [{
            	stacked: true
            }]
        }

    }
});
    </script>
</body>
</html>





