<style>


    .navbar {
        background-color: white !important;
    }


    .hero-image {
        background-image: url('../../Content/Images/recyclingsuggestion.png');
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
    }

    .carousel-inner > .item {
        min-height: 350px;
    }

    @@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    }

    .img-responsive {
        width: 100%;
        height: auto;
        border-radius: 15%;
    }
</style>



<div class="hero-image" style="height:400px">
    <div class="hero-text" style="text-align:center;transform: translate(-50%, -50%); position:absolute;left:50%;top:50%;">


    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="margin-top:50px;">


            <div id="mycarousel" class="carousel slide" data-interval="2500" style="" @*data-pause="false"*@ data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" style="background-color:#eba4a4;">
                    <div class="item active">
                        @*<img src="~/Content/Images/carousel1.png" class="img-responsive" />*@
                        <div class="carousel-caption">

                            <p style="padding:10px;text-align:center;font-size:18px;color:black;font-family:'Times New Roman'">
                                <b style="color:black;font-size:23px;">Recycling Protects the Environment</b><br />
                                Recycling avoids the pollution of hazardous chemicals and eliminates waste from our parks and beaches.
                                By recycling items such as batteries, electronic waste, we can protect the environment.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        @*<img src="~/Content/Images/carousel2.png" class="img-responsive" />*@
                        <div class="carousel-caption">
                            <p style="padding:10px;text-align:center;font-size:18px;color:black;font-family:'Times New Roman'">
                                <b style="color:black;font-size:23px;">Recycling Reduces Landfill Waste</b><br />
                                Every year, Australia creates more waste, much of which is destined for our overfilled landfill sites.
                                If less known recyclable items, such as old batteries and laptops are recycled, it will further improve the national
                                recycling efforts
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        @*<img src="~/Content/Images/carousel3.png" class="img-responsive" />*@
                        <div class="carousel-caption">
                            <p style="text-align:center;font-size:18px;color:black;font-family:'Times New Roman'">
                                <b style="        color: black;
        font-size: 23px;">We can Recover Non-Recycling Resources</b><br />
                                There are almost 31 million mobile devices operating in Australia. More interestingly, our drawers and cupboards hold
                                over 23 million unused cell phones, even though they can be recycled, we just lock them away!

                            </p>
                        </div>
                    </div>

                </div>

                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-left:60px;margin-top:60px;">
        <h1 style="font-family:'Times New Roman';color:indianred;font-size:37px;text-align:center"><b>But how do we improve Recycling Rates?</b></h1>
        @*<p style="font-family:'Times New Roman';color:black;font-size:24px">In order to reduce waste disposal and environmental consequences,
            we need to have high recycling rates and work towards zero waste.</p>*@
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:45px;">
        <div class="col-md-1">

        </div>
        <div class="col-md-4" style="">
            <p style="font-family:'Times New Roman';font-size:23px;color:black;">
                <b style="color:black;font-size:30px">Focus on school education</b><br />
                Our youngest citizens are often the most powerful agents of change. Recycling should be encouraged regardless of age. Share valuable information about acceptable recyclable materials with young people in schools and using social media or websites; And provide answers to waste questions or recycling questions.
            </p>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <img style="" class="img-responsive" src="~/Content/Images/schooleducation.PNG" />
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:45px;">
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <img style="" class="img-responsive" src="~/Content/Images/concert.PNG" />
        </div>

        <div class="col-md-1">

        </div>
        <div class="col-md-4" style="">
            <p style="font-family:'Times New Roman';font-size:23px;color:black;">
                <b style="color:black;font-size:30px">Turning Waste into Treasure</b><br />
                Imagine teenagers at a concert, in a park. There are a lot of empty plastic bottles around, and instead of picking them up and putting them in the
                trash, where they'll go to landfill or pollute the ocean, teenagers can put them in a vending machine, watch them grind into plastic particles, melt
                into plastic threads, and then 3d print them to your next phone case.
            </p>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:45px;">
        <div class="col-md-1">

        </div>
        <div class="col-md-4" style="">
            <p style="font-family:'Times New Roman';font-size:23px;color:black;">
                <b style="color:black;font-size:30px">
                    Add Recycling Bin at Home
                </b><br />
                The knowledge learned in school and on the Internet can be effectively applied to daily life at home, and recyclable and non-recyclable garbage
                cans can be set up at home, and the distinction can be even more detailed. Since most young people don't think enough about what goes into the
                trash can, they can't decide whether to recycle it or not.
            </p>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <img style="" class="img-responsive" src="~/Content/Images/bins.PNG" />
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<div class="row" style="margin-top:60px;">
    @*<div class="col-md-12" style="text-align:center">
            <h2 style="font-family:'Times New Roman';color:indianred;"><b>Heat Map of Recycling in Australia</b></h2>
        </div>*@
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class='tableauPlaceholder' id='viz1599308384001' style='max-height:560px;max-width: 950px;text-align:center;'><noscript><a href=''><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalRecyclingRate1&#47;recyclingrate&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GlobalRecyclingRate1&#47;recyclingrate' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalRecyclingRate1&#47;recyclingrate&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1599308384001'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-4"></div>

    <div class="col-md-12" style="margin-top:40px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p style="font-family:'Times New Roman';font-size:23px;">
                Let's see how other countries stand in terms of recycling waste. This map will give you a glimpse of it. The recycling rate of Australia
                is around 42.1% which is above average compared to other countries. The remaining 57.9% products that are not recycled, are either discarded into
                the ocean or it is dumped into landfills.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>